/* styles.css */
/* Reset CSS untuk menghilangkan margin dan padding default */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'W95FA', sans-serif;
}

.desktop {
  background-color: #008080; /* Warna latar belakang untuk simulasi desktop */
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Menghindari scroll jika gambar lebih besar dari layar */
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-icon {
  position: absolute;
  top: 10px; /* Posisi vertikal ikon aplikasi */
  left: 10px; /* Posisi horizontal ikon aplikasi */
  cursor: pointer;
  display: flex; /* Menggunakan flexbox */
  flex-direction: column; /* Menjadikan anak-anak dalam kolom */
  align-items: center; /* Memusatkan secara horizontal */
  text-align: center; /* Memusatkan teks (nama aplikasi) */
}

.app-icon img {
  width: 60px; /* Lebar ikon aplikasi */
  height: 60px; /* Tinggi ikon aplikasi */
  object-fit: contain; /* Mengubah properti object-fit sesuai kebutuhan */
  margin-bottom: 5px; /* Jarak antara ikon dan teks (nama aplikasi) */
}

.app-name {
  font-size: 12px; /* Ukuran teks (nama aplikasi) */
  color: #000000; /* Warna teks (nama aplikasi) */
}

.chat-app {
  position: absolute;
  top: 100px; /* Posisi vertikal jendela aplikasi chat */
  left: 100px; /* Posisi horizontal jendela aplikasi chat */
  width: 300px;
  height: 400px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: none; /* Sembunyikan secara default */
}

.title-bar {
  height: 30px;
  background-color: #1A1A1A;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.title {
  font-weight: bold;
}

.window-controls button {
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  background-color: #1A1A1A;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  height: calc(100% - 30px); /* Kalkulasi tinggi chat window */
  overflow-y: auto;
  padding: 10px;
}

.login-form {
  padding: 20px;
}

.login-form h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333333;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-area {
  height: calc(100% - 120px); /* Tinggi area chat */
  overflow-y: auto;
  padding: 10px;
}

.chat-message {
  margin-bottom: 10px;
  font-size: 14px;
}

.input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.input-area input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.input-area button {
  padding: 10px;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.taskbar {
  background-color: #1A1A1A;
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Membuat elemen di taskbar berada di kedua sisi */
  padding: 0 10px; /* Padding untuk memisahkan elemen di taskbar */
  z-index: 1000; /* Menempatkan taskbar di atas elemen lain */
}

#startButton {
  padding: 8px 12px;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#startButton:focus {
  background-color: #363fbc;
}

#clock {
  font-size: 14px;
  color: #FFFFFF;
}

.shutdownMenu {
  display: none;
  position: absolute;
  bottom: 45px;
  left: 10px;
  width: 150px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 5px;
  z-index: 1000;
}

.shutdownMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.shutdownMenu ul li {
  margin-bottom: 5px;
}

.shutdownMenu ul li a {
  text-decoration: none;
  color: #333333;
  display: block;
  padding: 3px 5px;
}

.shutdownMenu ul li a:hover {
  background-color: #EFEFEF;
}

#blueScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.hidden {
  display: none;
}
